
@media (max-width:768px) {

    /* Utility Classes */
    a{
        text-decoration: none;
    }
    
    ul{
        list-style: none;
    }
    
    .container{
        padding: 0 3%;
    }
    
    .flex{
        display: flex;
    }
    
    .main-btn{
        background-color: #1a90fe;
        padding: 12px 24px;
        border-radius: 5%;
        color: #ffffff;
        font-size: 15px ;
    }
    
    .arrow{
        position: relative;
        top: 1px;
    }




    /* NAVBAR */
    .navbar{
         height: 55px;
    }

    .menu-btn{
        display: block;
        font-size: 22px;
        color: aliceblue;
        font-weight: 500;
    }
    
    .nav-link{
        display: none;
    }
    
    .nav-button{
        display: none
        
    }

    /* Hero Section */

    .hero-sections{
        flex-direction: column;
    }

    .hero{
        margin-top: 75px; 
        padding-top: 100px;   /* To avoid navbar overlap */
        background-color: #ffffff;
    }
    
    .hero-left{
        width: 100%;
        text-align: center;
        line-height: 12px;
        display: flex;
        align-items: center;
        flex-direction: column;
       
     }

    .hero-left h1{
        font-size: 5vw;
        line-height: 50px;
        color: #333;
    }
    .hero-left p{
        margin: 20px 0;
        line-height: 19px;
        font-weight: 500;
        margin-bottom: 30px;
        font-size: 1.8vw;
        color: #1a1a1a;
    }
    
    .learn-more{
        background-color: #4B90FE;
        color: aliceblue;
        transition: all ease 0.3s;
        padding-inline: 70px ;
        padding-block: 15px;
    }

    .hero-right{
        position: relative;
        right: 20px;
        bottom: 1px;
        width: 100vw;
        display: flex;
        justify-content: end;
        align-items: center;
    }


    /* Companies Section */

    .companies-header{
        font-size: 2vw;
    }

    .comp-logo{
        height: 40px;
    }


    /* Feature Section */
    
    .features-area{
        padding-inline: 70px;
         align-items: center;
         justify-content: center;
         margin-top: 60px;
         flex-wrap: wrap;
        
    }



    .feature-card{
        max-width: 50%;
      
    }

    .feature-header h2{
        font-size: 1.5rem;
        text-transform: uppercase;
        color: #333333;
    }

    .feature-header p{
        font-size: 0.9rem;
        line-height: 25px;
    }
    
}


@media (max-width:425px) {
    
    .hero{
        margin-top: 15px;    /* To avoid navbar overlap */
    }

    .feature-card{
        max-width: 100%;
    }

    .hero-left{
        width: 100vw;
        height: calc(100% - 175px);
        position: relative;
        bottom: 30px;
    }

    .hero-left h1{
        font-size: 5.5vw;
        color: #333;
        line-height: 30px;
    }

    .hero-left p{
        margin: 15px 0;
        margin-bottom: 20px;
        font-size: 3vw;
        color: #535353;
        padding-inline: 10px;
    }

    .hero-right{
        bottom: 15px;
        width: 100vw;
    
    }

    /* ..................................................................... */

    /* Companies Section */

   .companies-section{
    width: 100%;
    height: 150px;

  
    }

    .companies-header{
        font-size: 3.5vw;
        text-align: center;
        padding-top: 7px;
    }

    .comp-logo{
        height: 30px;
        position: relative;
        left: 7vw;  
    }


    /* ..................................................................... */

    /* Features Section */

    .features-section{
    margin-top: 20px;

    }

    .feature-header{
        padding-inline: 10px;
        gap: 10px
    }

    .feature-header h2{
        font-size: 5vw;
        text-transform: uppercase;
    }

    .feature-header p{
        font-size: 3.1vw;
        line-height: 25px;
    }
    

    .features-area{
        padding-inline: 30px;
        align-items: center;
        padding-inline: 0px;
        justify-content: center;
        margin-top: 60px;
        flex-wrap: wrap;
        gap: 25px;
    }   
    
    .feature-card{
        width: 100vw;
        border-radius: 1%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all ease 0.3s;
        padding: 30px 20px;
    }

    .features-img{
        width: 15vw;
        border: 4px solid rgb(221, 221, 221);
        border-radius: 50%;
    }
    
    
    .feature-card h3{
          font-size: 3vw;
    }
    
    .feature-card p{
          font-size: 3vw;
          padding-inline: 20px;
    }

    .learn-more-f{
        color: #1a90fe;
        font-size: 3vw;
    }
    
    .learn-more-f:hover{
        color:#0c2140;
    }


    /* Big Feature Section */

    .big-feature-container{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: start;
    }

    .img{
        width: 90%;
    }

    .big-feature-dec h4 {
        font-size: 2vw;
    }
    
    .big-feature-dec h2{
            font-size: 4vw;
    }
    
    .big-feature-dec p{
            font-size: 3vw;
    }

}